.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


# sequence files
*.tar.gz
/raw_reads/*

# python
__pycache__/

# testing and comments
test.txt
*_viv.*
testing/
testing_*